{% extends 'exchange/base.html' %}

{% block content %}
	<center>
    {% if user.is_authenticated %}
        <br/>
        <h1>BTC Order book</h1>
        <br/>
        <table class="table">
            <thead>
                <th>Index</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Price</th>
            </thead>
            <tbody>
                {% for order in orders %}
                        <tr>
                            <td>{{ order.0 }}</td> 
                            <td>{{ order.5 }}</td> 
                            <td>{{ order.4 }}</td> 
                            <td>{{ order.3 }}</td> 
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/><br/>
        Go back to home: <a href="{% url 'home' %}">Home</a>
    {% else %}
        <div class="mb-3">
            Click here to login: <a href="{% url 'login' %}">Login</a>
        </div>
        <div class="mb-3">
            Not a user? Click here to register: <a href="{% url 'register_user' %}">Register</a>
        </div>
    {% endif %}
</center>
{% endblock %}